<?xml version="1.0" encoding="utf-8"?>
<configuration>
   
	<!--<add key="ConnectionString" value="Data Source=TTS-177;Initial Catalog=TestDb;User ID=sa;Password=admin@123" >
		</add>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
